<div class="container">
	<div class="row">
		<div class="col-xs-3">

			<h2>User info</h2>
			<%= render 'users/profile', user: @user %>

			<h2>New book</h2>
			<%= render 'books/newform', book: Book.new %>

		</div>

		<div class="col-xs-9">
			<h2>Book detail</h2>

			<table class="table">
					<tr id="show_favorite_<%= @book.id %>">
  						<%= render partial: 'favorites/show', locals: { book: @book } %>
					</tr>
			</table>

			<h4>コメント</h4>

			<div id="comments_area">
			<%= render partial: 'comments/index', locals: { comments: @comments } %>
			</div>

		</div>
	</div>
</div>


<div class="container">
	<div class="row">
		<div class="col-xs-7 col-xs-offset-5">

			 <%= render partial: 'comments/form', locals: { comment: @comment, book: @book } %>

		</div>
	</div>
</div>